<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Grocery Delivery Management System</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">

        <div id="header">

            <div class="top_banner">
                <h1>Grocery Delivery Management System</h1>
            </div>

        </div>

        <div id="page_content">

            <div class="left_side_bar">

                <div class="col_1">
                    <div class="box">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/customers">Customers</a></li>
                            <li><a href="/deliverymen">Delivery Men</a></li>
                            <li><a href="/orders">Orders</a></li>
                            <li><a href="/products">Products</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="right_section">
                <div class="common_content">
                    <h2>Customers</h2>
                    <form accept-charset="UTF-8" action="/view_customers" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>View All Customers Info:</legend> 
                                <input type="submit" value="View" onclick="loading();">
                        </fieldset>
                    </form>
                    <table class="base_qry_render">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Birth Date</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip Code</th>
                                <th>Account Balance</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Points</th>
                                <th>Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                {% for row in data1 %}
                                <tr>
                                    {% for element in row %}
                                    <td>{{element}}</td>
                                    {% endfor %}    
                                </tr>
                                {% endfor %}
                            
                        </tbody>
                    </table>
                    <br />
                    <form accept-charset="UTF-8" action="/search_customers" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>Search Customer:</legend> 
                                <label for="customer_id">Customer ID : </label><input name="customer_id" type="text"value="" /> <br />
                                <label for="c_first_name">First Name : </label><input name="c_first_name" type="text"value="" /> <br />
                                <label for="c_last_name">Last Name : </label><input name="c_last_name" type="text"value="" /> <br />
                                <label for="phone">Phone : </label> <input name="phone"type="text" value="" /> <br />
                                <label for="birth_date">Birth Date :</label><input name="birth_date" type="date"/> <br />
                                <label for="address">Address : </label><input name="address" type="text" value="" /> <br />
                                <label for="city">City : </label><input name="city" type="text" value="" /> <br />
                                <label for="state">State : </label><input name="state" type="text" value="" /> <br />
                                <label for="zip_code">Zip Code : </label><input name="zip_code" type="text" value="" /> <br />
                                <label for="member_customers">Member Customers : </label><input type="checkbox" name="member_customers" /> <body>(If true, then use the following filters) </body> <br />
                                <label for="start_date">Start Date :</label><input name="start_date" type="date"/> <br />
                                <label for="end_date">End Date :</label><input name="end_date" type="date"/> <br />
                                <label for="level">Level: </label><select name="level"><option value="Copper">Copper</option><option value="Silver">Silver</option><option value="Gold">Gold</option></select><br />
                                <input type="submit" value="Search" onclick="loading();">
                        </fieldset>
                    </form>
                    <tbody><td>{{data2_1}}</td></tbody><tbody>
                    <table class="base_qry_render">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Birth Date</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip Code</th>
                                <th>Account Balance</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Points</th>
                                <th>Level</th>
                            </tr>
                        </thead>                            
                                {% for row in data2_2 %}
                                <tr>
                                    {% for element in row %}
                                    <td>{{element}}</td>
                                    {% endfor %}    
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    <br />
                    <form accept-charset="UTF-8" action="/update_customers" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>Update Customer:</legend> 
                                <label for="customer_id">Customer ID(*) : </label><input name="customer_id" type="text"value="" /> <br />
                                <label for="c_first_name">First Name : </label><input name="c_first_name" type="text"value="" /> <br />
                                <label for="c_last_name">Last Name : </label><input name="c_last_name" type="text"value="" /> <br />
                                <label for="phone">Phone : </label> <input name="phone"type="text" value="" /> <br />
                                <label for="birth_date">Birth Date :</label><input name="birth_date" type="date"/> <br />
                                <label for="address">Address : </label><input name="address" type="text" value="" /> <br />
                                <label for="city">City : </label><input name="city" type="text" value="" /> <br />
                                <label for="state">State : </label><input name="state" type="text" value="" /> <br />
                                <label for="zip_code">Zip Code : </label><input name="zip_code" type="text" value="" /> <br />
                                <label for="account_balance">Account Balance : </label><input name="account_balance" type="text" value="" /> <br />
                                <label for="member_customers">Member Customers : </label><input type="checkbox" name="member_customers" /><br />
                                <label for="start_date">Start Date :</label><input name="start_date" type="date"/> <br />
                                <label for="end_date">End Date :</label><input name="end_date" type="date"/> <br />
                                <label for="points">Points : </label><input name="points" type="text" value="" /> <br />
                                <label for="level">Level: </label><select name="level"><option value="Copper">Copper</option><option value="Silver">Silver</option><option value="Gold">Gold</option></select><br />
                                <input type="submit" value="Update" onclick="loading();">
                        </fieldset>
                    </form>
                        <tbody>
                            <td>{{data3}}</td>
                        </tbody>
                    <br />
                    <form accept-charset="UTF-8" action="/delete_customers" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>Delete Customer:</legend> 
                                <label for="customer_id">Customer ID(*) : </label><input name="customer_id" type="text"value="" /> <br />
                                <!-- <label for="c_first_name">First Name : </label><input name="c_first_name" type="text"value="" /> <br />
                                <label for="c_last_name">Last Name : </label><input name="c_last_name" type="text"value="" /> <br />
                                <label for="phone">Phone : </label> <input name="phone"type="text" value="" /> <br />
                                <label for="birth_date">Birth Date :</label><input name="birth_date" type="date"/> <br />
                                <label for="address">Address : </label><input name="address" type="text" value="" /> <br />
                                <label for="city">City : </label><input name="city" type="text" value="" /> <br />
                                <label for="state">State : </label><input name="state" type="text" value="" /> <br />
                                <label for="zip_code">Zip Code : </label><input name="zip_code" type="text" value="" /> <br />
                                <label for="member_customers">Member Customers : </label><input type="checkbox" name="member_customers" /> <body>(If true, you can use the following filters) </body> <br />
                                <label for="start_date">Start Date :</label><input name="start_date" type="date"/> <br />
                                <label for="end_date">End Date :</label><input name="end_date" type="date"/> <br />
                                <label for="level">Level: </label><select name="level"><option value="Copper">Copper</option><option value="Silver">Silver</option><option value="Gold">Gold</option></select><br /> -->
                                <input type="submit" value="Delete" onclick="loading();">
                        </fieldset>
                    </form>
                        <tbody>
                            <td>{{data4}}</td>
                        </tbody>
                    <br />
                    <form accept-charset="UTF-8" action="/add_customers" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>Add Customer:</legend> 
                                <label for="customer_id">Customer ID(*) : </label><input name="customer_id" type="text"value="" /> <br />
                                <label for="c_first_name">First Name : </label><input name="c_first_name" type="text"value="" /> <br />
                                <label for="c_last_name">Last Name : </label><input name="c_last_name" type="text"value="" /> <br />
                                <label for="phone">Phone(*) : </label> <input name="phone"type="text" value="" /> <br />
                                <label for="birth_date">Birth Date :</label><input name="birth_date" type="date"/> <br />
                                <label for="address">Address : </label><input name="address" type="text" value="" /> <br />
                                <label for="city">City : </label><input name="city" type="text" value="" /> <br />
                                <label for="state">State : </label><input name="state" type="text" value="" /> <br />
                                <label for="zip_code">Zip Code : </label><input name="zip_code" type="text" value="" /> <br />
                                <label for="account_balance">Account Balance(*) : </label><input name="account_balance" type="text" value="" /> <br />
                                <label for="member_customers">Member Customers : </label><input type="checkbox" name="member_customers" /> <br />
                                <label for="start_date">Start Date :</label><input name="start_date" type="date"/> <br />
                                <label for="end_date">End Date :</label><input name="end_date" type="date"/> <br />
                                <label for="points">Points : </label><input name="points" type="text" value="" /> <br />
                                <label for="level">Level(*) : </label><select name="level"><option value="Copper">Copper</option><option value="Silver">Silver</option><option value="Gold">Gold</option></select><br />
                                <input type="submit" value="Create" onclick="loading();">
                        </fieldset>
                    </form>
                        <tbody>
                            <td>{{data5}}</td>
                        </tbody>
                    <br />
                </div>
            </div>

            <div class="clear"></div>

        </div>

    </div>

</body>

</html>
