<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Grocery Delivery Management System</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">

        <div id="header">

            <div class="top_banner">
                <h1>Grocery Delivery Management System</h1>
            </div>

        </div>

        <div id="page_content">

            <div class="left_side_bar">

                <div class="col_1">
                    <div class="box">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/customers">Customers</a></li>
                            <li><a href="/deliverymen">Delivery Men</a></li>
                            <li><a href="/orders">Orders</a></li>
                            <li><a href="/products">Products</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="right_section">
                <div class="common_content">
                    <h2>Orders</h2>
                    <form accept-charset="UTF-8" action="/view_orders" autocomplete="off" method="POST"
                        target="_self">
                        <fieldset>
                            <legend>View All Orders Info:</legend> 
                                <input type="submit" value="View" onclick="loading();">
                        </fieldset>
                    </form>
                    <table class="base_qry_render">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Customer ID</th>
                                <th>Delivery Man ID</th>
                                <th>Total Price</th>
                                <th>Order Status</th>
                                <th>Placed Date</th>
                                <th>Delivered Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                {% for row in data1 %}
                                <tr>
                                    {% for element in row %}
                                    <td>{{element}}</td>
                                    {% endfor %}    
                                </tr>
                                {% endfor %}
                            
                        </tbody>
                    </table>
                    <br />
                    <form accept-charset="UTF-8" action="/search_orders" autocomplete="off" method="POST"
                        target="_self">
                        <fieldset>
                            <legend>Search Order:</legend>
                                <label for="order_id">Order ID : </label><input name="order_id" type="text"value="" /> <br />
                                <label for="customer_id">Customer ID : </label><input name="customer_id" type="text"value="" /> <br />
                                <label for="delivery_man_id">Delivery Man ID : </label><input name="delivery_man_id" type="text"value="" /> <br />
                                <label for="order_status">Order Status: </label><select name="order_status">
                                    <option value=""></option>
                                    <option value="delivered">delivered</option>
                                    <option value="processing">processing</option>
                                    <option value="delivering">delivering</option>
                                    <option value="canceled">canceled</option></select><br />
                                <label for="placed_date">Placed Date :</label><input name="placed_date" type="date"/> <br />
                                <label for="delivered_date">Delivered Date :</label><input name="delivered_date" type="date"/> <br />
                                <input type="submit" value="Search" onclick="loading();">
                        </fieldset>
                    </form>
                    <tbody>
                        <font color="#FF0000"><td>{{data2_1}}</td></font> 
                    </tbody>
                    <table class="base_qry_render">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Customer ID</th>
                                <th>Delivery Man ID </th>
                                <th>Total Price</th>
                                <th>Order Status</th>
                                <th>Placed Date</th>
                                <th>Delivered Date</th>
                                <th>Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data2_2 %}
                            <tr>
                                {% for element in row %}
                                <td>{{element}}</td>
                                {% endfor %}    
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br />
                    <form accept-charset="UTF-8" action="/update_orders" autocomplete="off" method="POST"
                        target="_self">
                        <fieldset>
                            <legend>Update Order:</legend> 
                            <label for="order_id">Order ID(*) : </label><input name="order_id" type="text"value="" /> <br />
                            <label for="customer_id">Customer ID : </label><input name="customer_id" type="text"value="" /> <br />
                            <label for="delivery_man_id">Delivery Man ID : </label><input name="delivery_man_id" type="text"value="" /> <br />
                            <label for="total_price">Total Price : </label> <input name="total_price"type="text" value="" /> <br />
                            <label for="order_status">Order Status: </label><select name="order_status">
                                <option value=""></option>
                                <option value="processed">processed</option>
                                <option value="shipped">shipped</option>
                                <option value="delivered">delivered</option>
                                <option value="canceled">canceled</option></select><br />
                            <label for="placed_date">Placed Date :</label><input name="placed_date" type="date"/> <br />
                            <label for="delivered_date">Delivered Date :</label><input name="delivered_date" type="date"/> <br />
                            <input type="submit" value="Update" onclick="loading();">
                        </fieldset>
                    </form>
                    <tbody>
                        <font color="#FF0000"><td>{{data3}}</td></font> 
                    </tbody>
                    <br />
                    <form accept-charset="UTF-8" action="/delete_orders" autocomplete="off" method="POST"
                        target="_self">
                        <fieldset>
                            <legend>Delete Order:</legend> 
                            <label for="order_id">Order ID : </label><input name="order_id" type="text"value="" /> <br />
                            <input type="submit" value="Delete" onclick="loading();">
                        </fieldset>
                    </form>
                    <tbody>
                        <font color="#FF0000"><td>{{data4}}</td></font> 
                    </tbody>
                    <br />
                    <form accept-charset="UTF-8" action="/add_orders" autocomplete="off" method="POST"
                        target="_self">
                        <fieldset>
                            <legend>Create Order:</legend> 
                            <!-- <label for="order_id">Order ID(*) : </label><input name="order_id" type="text"value="" /> <br /> -->
                            <label for="customer_id">Customer ID(*): </label><input name="customer_id" type="text"value="" /> <br />
                            <label for="total_price">Total Price : </label> <input name="total_price"type="text" value="" /> <br />
                            <label for="order_status">Order Status: </label><select name="order_status">
                                <option value=""></option>
                                <option value="processed">processed</option>
                                <option value="shipped">shipped</option>
                                <option value="delivered">delivered</option>
                                <option value="canceled">canceled</option></select><br />
                            <label for="delivery_man_id">Delivery Man ID : </label><input name="delivery_man_id" type="text"value="" /> <br />
                            <label for="placed_date">Placed Date :</label><input name="placed_date" type="date"/> <br />
                            <label for="delivered_date">Delivered Date :</label><input name="delivered_date" type="date"/> <br />
                            <input type="submit" value="Create" onclick="loading();">
                        </fieldset>
                    </form>
                    <tbody>
                        <font color="#FF0000"><td>{{data5}}</td></font> 
                    </tbody>
                    <br />
                </div>
            </div>

            <div class="clear"></div>

        </div>

    </div>

</body>

</html>
