<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Grocery Delivery Management System</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">

        <div id="header">

            <div class="top_banner">
                <h1>Grocery Delivery Management System</h1>
            </div>

        </div>

        <div id="page_content">

            <div class="left_side_bar">

                <div class="col_1">
                    <div class="box">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/customers">Customers</a></li>
                            <li><a href="/deliverymen">Delivery Men</a></li>
                            <li><a href="/orders">Orders</a></li>
                            <li><a href="/products">Products</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="right_section">
                <div class="common_content">
                    <h2>Products</h2>
                    <form accept-charset="UTF-8" action="/view_inventory" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>View Inventory Info:</legend>
                            <input type="submit" value="View" onclick="loading();">
                        </fieldset>
                    </form>
                    <table class="base_qry_render">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Unit Price</th>
                                <th>Quantity In Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for row in data1 %}
                                <tr>
                                    {% for element in row %}
                                    <td>{{element}}</td>
                                    {% endfor %}    
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    <br />
                    <form accept-charset="UTF-8" action="/search_products" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>Search Products:</legend> 
                            <label for="product_id">ID(*) : </label><input name="product_id" type="text"value="" /> <br />
                            <label for="product_name">Name : </label><input name="product_name" type="text"value="" /> <br />
                            <label for="product_type">Type : </label><input name="product_type" type="text"value="" /> <br />
                            <label for="unit_price">Unit Price : </label> <input name="unit_price" type="text" value="" /> <br />
                            <label for="quantity_in_stock">Quantity In Stock: </label> <input name="quantity_in_stock" type="text" value="" /> <br />
                            <input type="submit" value="Search" onclick="loading();">
                        </fieldset>
                    </form>
                    <tbody>
                        <font color="#FF0000"><td>{{data2_1}}</td></font> 
                    </tbody>
                    <table class="base_qry_render">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Unit Price</th>
                                <th>Quantity In Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for row in data2_2 %}
                            <tr>
                                {% for element in row %}
                                <td>{{element}}</td>
                                {% endfor %}    
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    <br />
                    <form accept-charset="UTF-8" action="/update_products" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>Update Products:</legend> 
                            <label for="product_id">ID(*) : </label><input name="product_id" type="text"value="" /> <br />
                            <label for="product_name">Name : </label><input name="product_name" type="text"value="" /> <br />
                            <label for="product_type">Type : </label><input name="product_type" type="text"value="" /> <br />
                            <label for="unit_price">Unit Price : </label> <input name="unit_price" type="text" value="" /> <br />
                            <label for="quantity_in_stock">Quantity In Stock: </label> <input name="quantity_in_stock" type="text" value="" /> <br />
                            <input type="submit" value="Update" onclick="loading();">
                        </fieldset>
                    </form>
                    <tbody>
                        <font color="#FF0000"><td>{{data3}}</td></font> 
                    </tbody>
                    <br />
                    <form accept-charset="UTF-8" action="/delete_products" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>Delete Products:</legend> 
                            <label for="product_id">ID : </label><input name="product_id" type="text"value="" /> <br />
                            <!-- <label for="product_name">Name : </label><input name="product_name" type="text"value="" /> <br />
                            <label for="product_type">Type : </label><input name="product_type" type="text"value="" /> <br />
                            <label for="unit_price">Unit Price : </label> <input name="unit_price" type="text" value="" /> <br />
                            <label for="quantity_in_stock">Quantity In Stock: </label> <input name="quantity_in_stock" type="text" value="" /> <br /> -->
                            <input type="submit" value="Delete" onclick="loading();">
                        </fieldset>
                    </form>
                    <tbody>
                        <font color="#FF0000"><td>{{data4}}</td></font> 
                    </tbody>
                    <br />
                    <form accept-charset="UTF-8" action="/add_products" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>Add Products:</legend> 
                            <!-- <label for="product_id">ID(*) : </label><input name="product_id" type="text"value="" /> <br /> -->
                            <label for="product_name">Name : </label><input name="product_name" type="text"value="" /> <br />
                            <label for="product_type">Type : </label><input name="product_type" type="text"value="" /> <br />
                            <label for="unit_price">Unit Price : </label> <input name="unit_price" type="text" value="" /> <br />
                            <label for="quantity_in_stock">Quantity In Stock: </label> <input name="quantity_in_stock" type="text" value="" /> <br />
                            <input type="submit" value="Add" onclick="loading();">
                        </fieldset>
                    </form>
                    <tbody>
                        <font color="#FF0000"><td>{{data5}}</td></font> 
                    </tbody>
                </div>
            </div>

            <div class="clear"></div>

        </div>

    </div>

</body>

</html>
